/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [DocumentId]
      ,[Document_Name]
      ,[Document_Type]
      ,[Size]
      ,[Created_By]
      ,[Created_At]
      ,[Folder_Id]
      ,[isDeleted]
  FROM [Drive].[dbo].[Documents]